@font-face {
    font-family: 'klingon';
    src:url('../assets/font/klingon/klingon.eot');
    src:url('../assets/font/klingon/klingon.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/klingon/klingon.woff') format('woff'),
        url('../assets/font/klingon/klingon.ttf') format('truetype'),
        url('../assets/font/klingon/klingon.svg#klingon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.klingon {
    font-family: 'klingon';
}
@font-face {
    font-family: 'elderfuthark';
    src:url('../assets/font/elderfuthark/elderfuthark.eot');
    src:url('../assets/font/elderfuthark/elderfuthark.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/elderfuthark/elderfuthark.woff') format('woff'),
        url('../assets/font/elderfuthark/elderfuthark.ttf') format('truetype'),
        url('../assets/font/elderfuthark/elderfuthark.svg#elderfuthark') format('svg');
    font-weight: normal;
    font-style: normal;
}
.elderfuthark {
    font-family: 'elderfuthark';
}
@font-face {
    font-family: 'iokharic';
    src:url('../assets/font/iokharic/iokharic.eot');
    src:url('../assets/font/iokharic/iokharic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/iokharic/iokharic.woff') format('woff'),
        url('../assets/font/iokharic/iokharic.ttf') format('truetype'),
        url('../assets/font/iokharic/iokharic.svg#iokharic') format('svg');
    font-weight: normal;
    font-style: normal;
}
.iokharic {
    font-family: 'iokharic';
}
@font-face {
    font-family: 'hylian64';
    src:url('../assets/font/hylian64/hylian64.eot');
    src:url('../assets/font/hylian64/hylian64.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/hylian64/hylian64.woff') format('woff'),
        url('../assets/font/hylian64/hylian64.ttf') format('truetype'),
        url('../assets/font/hylian64/hylian64.svg#hylian64') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hylian64 {
    font-family: 'hylian64';
}
@font-face {
    font-family: 'hylianTP';
    src:url('../assets/font/hylianTP/hylianTP.eot');
    src:url('../assets/font/hylianTP/hylianTP.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/hylianTP/hylianTP.woff') format('woff'),
        url('../assets/font/hylianTP/hylianTP.ttf') format('truetype'),
        url('../assets/font/hylianTP/hylianTP.svg#hylianTP') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hylianTP {
    font-family: 'hylianTP';
}
@font-face {
    font-family: 'barazhad';
    src:url('../assets/font/barazhad/barazhad.eot');
    src:url('../assets/font/barazhad/barazhad.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/barazhad/barazhad.woff') format('woff'),
        url('../assets/font/barazhad/barazhad.ttf') format('truetype'),
        url('../assets/font/barazhad/barazhad.svg#barazhad') format('svg');
    font-weight: normal;
    font-style: normal;
}
.barazhad {
    font-family: 'barazhad';
}
@font-face {
    font-family: 'davek';
    src:url('../assets/font/davek/davek.eot');
    src:url('../assets/font/davek/davek.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/davek/davek.woff') format('woff'),
        url('../assets/font/davek/davek.ttf') format('truetype'),
        url('../assets/font/davek/davek.svg#davek') format('svg');
    font-weight: normal;
    font-style: normal;
}
.davek {
    font-family: 'davek';
}
@font-face {
    font-family: 'rellanic';
    src:url('../assets/font/rellanic/rellanic.eot');
    src:url('../assets/font/rellanic/rellanic.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/rellanic/rellanic.woff') format('woff'),
        url('../assets/font/rellanic/rellanic.ttf') format('truetype'),
        url('../assets/font/rellanic/rellanic.svg#rellanic') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rellanic {
    font-family: 'rellanic';
}
@font-face {
    font-family: 'qijomi';
    src:url('../assets/font/qijomi/qijomi.eot');
    src:url('../assets/font/qijomi/qijomi.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/qijomi/qijomi.woff') format('woff'),
        url('../assets/font/qijomi/qijomi.ttf') format('truetype'),
        url('../assets/font/qijomi/qijomi.svg#qijomi') format('svg');
    font-weight: normal;
    font-style: normal;
}
.qijomi {
    font-family: 'qijomi';
}
@font-face {
    font-family: 'middleearth';
    src:url('../assets/font/middleearth/middleearth.eot');
    src:url('../assets/font/middleearth/middleearth.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/middleearth/middleearth.woff') format('woff'),
        url('../assets/font/middleearth/middleearth.ttf') format('truetype'),
        url('../assets/font/middleearth/middleearth.svg#middleearth') format('svg');
    font-weight: normal;
    font-style: normal;
}
.middleearth {
    font-family: 'middleearth';
}
@font-face {
    font-family: 'gargish';
    src:url('../assets/font/gargish/gargish.eot');
    src:url('../assets/font/gargish/gargish.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/gargish/gargish.woff') format('woff'),
        url('../assets/font/gargish/gargish.ttf') format('truetype'),
        url('../assets/font/gargish/gargish.svg#gargish') format('svg');
    font-weight: normal;
    font-style: normal;
}
.gargish {
    font-family: 'gargish';
}
