@font-face {
    font-family: 'klingon';
    src:url('../assets/font/klingon/klingon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.klingon {
    font-family: 'klingon';
}
@font-face {
    font-family: 'elderfuthark';
    src:url('../assets/font/elderfuthark/elderfuthark.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.elderfuthark {
    font-family: 'elderfuthark';
}
@font-face {
    font-family: 'iokharic';
    src:url('../assets/font/iokharic/iokharic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.iokharic {
    font-family: 'iokharic';
}
@font-face {
    font-family: 'hylian64';
    src:url('../assets/font/hylian64/hylian64.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hylian64 {
    font-family: 'hylian64';
}
@font-face {
    font-family: 'hylianTP';
    src:url('../assets/font/hylianTP/hylianTP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hylianTP {
    font-family: 'hylianTP';
}
@font-face {
    font-family: 'barazhad';
    src:url('../assets/font/barazhad/barazhad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.barazhad {
    font-family: 'barazhad';
}
@font-face {
    font-family: 'davek';
    src:url('../assets/font/davek/davek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.davek {
    font-family: 'davek';
}
@font-face {
    font-family: 'rellanic';
    src:url('../assets/font/rellanic/rellanic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.rellanic {
    font-family: 'rellanic';
}
@font-face {
    font-family: 'qijomi';
    src:url('../assets/font/qijomi/qijomi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.qijomi {
    font-family: 'qijomi';
}
@font-face {
    font-family: 'middleearth';
    src:url('../assets/font/middleearth/middleearth.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.middleearth {
    font-family: 'middleearth';
}
@font-face {
    font-family: 'gargish';
    src:url('../assets/font/gargish/gargish.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.gargish {
    font-family: 'gargish';
}
